# Uncompressed database files - ignore these
*.btd
*.bti
*.naa
*.nab
*.nac
*.nal
*.ndb
*.nhd
*.nhi
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nos
*.not
*.nsd
*.nsi
*.nsq
*.ntf
*.nto
*.paa
*.pab
*.pac
*.pal
*.pdb
*.phd
*.phi
*.phr
*.pin
*.pnd
*.pni
*.pog
*.pos
*.pot
*.ppd
*.ppi
*.psd
*.psi
*.psq
*.ptf
*.pto
