# Uncompressed database files - ignore these
*.btd
*.bti
*.naa
*.nab
*.nac
*.nal
*.nhd
*.nhi
*.nhr
*.nin
*.nnd
*.nni
*.nog
*.nsd
*.nsi
*.nsq
*.paa
*.pab
*.pac
*.pal
*.phd
*.phi
*.phr
*.pin
*.pnd
*.pni
*.pog
*.ppd
*.ppi
*.psd
*.psi
*.psq
